## raw_data.csv

Apply at least 4 meaningful transformations:

- Cleaning: Handle missing values, remove duplicates

- Enrichment: Add 'total_price' = 'quantity' * 'unit_price'

- Structural: Convert dates, change data types

- Filtering: Drop irrelevant columns or rows

- Categorization: Create age bins, customer tiers

Save the transformed files to 'transformed/' folder

NB: 

- Show before and after for each transformation.

- Explain what and why you are transforming.

In [1]:
# Importing necessary libraries
import pandas as pd

# Loading 'raw_data.csv'
raw_data = pd.read_csv("raw_data.csv")

In [6]:
# Cleaning 'raw_data.csv'

# Before transformation:
missing_values_raw = raw_data.isnull().sum()
print(f"The number of missing values before transformation are: \n {missing_values_raw} \n")

duplicates_raw = raw_data.duplicated().sum()
print(f"The number of duplicate rows before transformation include: \n {duplicates_raw} \n")

# Transformation:
# Fill missing values
for col in raw_data.columns:
    if raw_data[col].dtype in ['int64', 'float64']:
        raw_data[col] = raw_data[col].fillna(raw_data[col].mean())
    else:
        raw_data[col] = raw_data[col].fillna(raw_data[col].mode()[0])
# Remove duplicates
raw_data.drop_duplicates(inplace=True)

# After transformation
missing_values_after = raw_data.isnull().sum()
print(f"The number of missing values after transformation are: \n {missing_values_after} \n")

duplicates_after = raw_data.duplicated().sum()
print(f"The number of duplicate rows after transformation include: \n {duplicates_after} \n")

The number of missing values before transformation are:
 order_id          0
customer_name     1
product           0
quantity         26
unit_price       35
order_date        1
region           25
dtype: int64

The number of duplicate rows before transformation include:
 1

The number of missing values after transformation are:
 order_id         0
customer_name    0
product          0
quantity         0
unit_price       0
order_date       0
region           0
dtype: int64

The number of duplicate rows after transformation include:
 0

Explanation:

    Handling missing values is essential to avoid errors during analysis. Therefore, filled numerical columns with its corresponding mean and descriptive columns with its corresponding mode.

    To ensure data integrity, the one duplicate row is removed.

In [10]:
# Enriching 'raw_data.csv'

# Before transformation:
# Displaying the first 5 observations along with their columns in the dataset
print(f"The first 5 observations in the dataset are: \n {raw_data.head()} \n")

# Transformation:
# Creating a new column 'total_price' by multiplying 'quantity' by 'unit_price'
raw_data['total_price'] = raw_data['quantity'] * raw_data['unit_price']

# After Transformation:
# Displaying the first 5 observations along with their columns in the dataset
print(f"The first 5 observations in the dataset after adding a new column are: \n {raw_data.head()} \n")

The first 5 observations in the dataset are:
    order_id customer_name product  quantity  unit_price  order_date region
0         1         Diana  Tablet  1.959459       500.0  2024-01-20  South
1         2           Eve  Laptop  1.959459       500.0  2024-04-29  North
2         3       Charlie  Laptop  2.000000       250.0  2024-01-08  South
3         4           Eve  Laptop  2.000000       750.0  2024-01-07   West
4         5           Eve  Tablet  3.000000       500.0  2024-03-07  South

The first 5 observations in the dataset after adding a new column are:
    order_id customer_name product  quantity  unit_price  order_date region  \
0         1         Diana  Tablet  1.959459       500.0  2024-01-20  South
1         2           Eve  Laptop  1.959459       500.0  2024-04-29  North
2         3       Charlie  Laptop  2.000000       250.0  2024-01-08  South
3         4           Eve  Laptop  2.000000       750.0  2024-01-07   West
4         5           Eve  Tablet  3.000000       500.0  2024-03-07  South

   total_price
0    979.72973
1    979.72973
2    500.00000
3   1500.00000
4   1500.00000

Explanation:
 
    Creating a new column 'total_price' by multiplying 'quantity' by 'unit_price', so as to obtain the total sales which could be informative when carrying out further analysis.

In [ ]:
# Structurally changing 'raw_data.csv'

# Before transformation:
# Displaying data types
print(f"The current data types are: \n {raw_data.dtypes} \n")

# Transformation
# Converting 'order_date' to a datetime format
raw_data['order_date'] = pd.to_datetime(raw_data['order_date'])

# After transformation
print(f"The data types after tranformation are: \n {raw_data.dtypes} \n")

The current data types are:
 order_id           int64
customer_name     object
product           object
quantity         float64
unit_price       float64
order_date        object
region            object
total_price      float64
dtype: object

The data types after tranformation are:
 order_id                  int64
customer_name            object
product                  object
quantity                float64
unit_price              float64
order_date       datetime64[ns]
region                   object
total_price             float64
dtype: object

Explanation:

    Converting 'order_date' column from 'object' to a datetime format for easier date manipulation and calculations, and analysis.

In [18]:
# Filtering 'raw_data.csv'

# Before transformation:
# Displaying all the columns in the data set
print(f"The columns in the dataset are: \n {raw_data.columns} \n ")

# Transformation
# Dropping irrelevant columns
raw_data.drop(columns=['customer_name'], inplace=True)

# After transformation
# Displaying all the columns in the data set
print(f"The columns in the dataset after transformation are: \n {raw_data.columns} \n ")

The columns in the dataset are:
 Index(['order_id', 'customer_name', 'product', 'quantity', 'unit_price',
       'order_date', 'region', 'total_price'],
      dtype='object')

The columns in the dataset after transformation are:
 Index(['order_id', 'product', 'quantity', 'unit_price', 'order_date', 'region',
       'total_price'],
      dtype='object')

Explanation: 

    Dropping 'customer_name' column in the dataset as it won't help much in analysis. Futhermore,to reduce the size of the dataset.

In [20]:
# Saving transformed 'raw_data.csv'
raw_data.to_csv('2_transformed/transformed_full.csv', index=False)

## incremental_data.csv

Apply at least 4 meaningful transformations:

- Cleaning: Handle missing values, remove duplicates

- Enrichment: Add 'total_price' = 'quantity' * 'unit_price'

- Structural: Convert dates, change data types

- Filtering: Drop irrelevant columns or rows

- Categorization: Create age bins, customer tiers

Save the transformed files to 'transformed/' folder

NB: 

- Show before and after for each transformation.

- Explain what and why you are transforming.

In [ ]:
# Importing necessary libraries
import pandas as pd

# Loading 'incremental_data.csv'
incremental_data = pd.read_csv("incremental_data.csv")

In [7]:
# Cleaning 'incremental_data.csv'

# Before transformation:
missing_values_incremental = incremental_data.isnull().sum()
print(f"The number of missing values before transformation are: \n {missing_values_incremental} \n")

duplicates_incremental = incremental_data.duplicated().sum()
print(f"The number of duplicate rows before transformation include: \n {duplicates_incremental} \n")

# Transformation:
# Fill missing values
for col in incremental_data.columns:
    if incremental_data[col].dtype in ['int64', 'float64']:
        incremental_data[col] = incremental_data[col].fillna(incremental_data[col].mean())
    else:
        incremental_data[col] = incremental_data[col].fillna(incremental_data[col].mode()[0])
# Remove duplicates
incremental_data.drop_duplicates(inplace=True)

# After transformation
missing_values_after_1 = incremental_data.isnull().sum()
print(f"The number of missing values after transformation are: \n {missing_values_after_1} \n")

duplicates_after_1 = incremental_data.duplicated().sum()
print(f"The number of duplicate rows after transformation include: \n {duplicates_after_1} \n")

The number of missing values before transformation are:
 order_id         0
customer_name    6
product          0
quantity         4
unit_price       0
order_date       0
region           2
dtype: int64

The number of duplicate rows before transformation include:
 0

The number of missing values after transformation are:
 order_id         0
customer_name    0
product          0
quantity         0
unit_price       0
order_date       0
region           0
dtype: int64

The number of duplicate rows after transformation include:
 0

Explanation:

    Handling missing values is essential to avoid errors during analysis. Therefore, filled numerical columns with its corresponding mean and descriptive columns with its corresponding mode.

    To ensure data integrity, duplicate rows are removed (but in this case, there are none thus no row is removed).

In [11]:
# Enriching 'incremental_data.csv'

# Before transformation:
# Displaying the first 5 observations along with their columns in the dataset
print(f"The first 5 observations in the dataset are: \n {incremental_data.head()} \n")

# Transformation:
# Creating a new column 'total_price' by multiplying 'quantity' by 'unit_price'
incremental_data['total_price'] = incremental_data['quantity'] * incremental_data['unit_price']

# After Transformation:
# Displaying the first 5 observations along with their columns in the dataset
print(f"The first 5 observations in the dataset after adding a new column are: \n {incremental_data.head()} \n")

The first 5 observations in the dataset are:
    order_id customer_name product  quantity  unit_price  order_date   region
0       101         Alice  Laptop       1.5       900.0  2024-05-09  Central
1       102         Heidi  Laptop       1.0       300.0  2024-05-07  Central
2       103         Heidi  Laptop       1.0       600.0  2024-05-04  Central
3       104         Heidi  Tablet       1.5       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

The first 5 observations in the dataset after adding a new column are:
    order_id customer_name product  quantity  unit_price  order_date   region  \
0       101         Alice  Laptop       1.5       900.0  2024-05-09  Central
1       102         Heidi  Laptop       1.0       300.0  2024-05-07  Central
2       103         Heidi  Laptop       1.0       600.0  2024-05-04  Central
3       104         Heidi  Tablet       1.5       300.0  2024-05-26  Central
4       105         Heidi  Tablet       2.0       600.0  2024-05-21    North

   total_price
0       1350.0
1        300.0
2        600.0
3        450.0
4       1200.0

Explanation:
 
    Creating a new column 'total_price' by multiplying 'quantity' by 'unit_price', so as to obtain the total sales which could be informative when carrying out further analysis.

In [15]:
# Structurally changing 'incremental_data.csv'

# Before transformation:
# Displaying data types
print(f"The current data types are: \n {incremental_data.dtypes} \n")

# Transformation
# Converting 'order_date' to a datetime format
incremental_data['order_date'] = pd.to_datetime(incremental_data['order_date'])

# After transformation
print(f"The data types after tranformation are: \n {incremental_data.dtypes} \n")

The current data types are:
 order_id           int64
customer_name     object
product           object
quantity         float64
unit_price       float64
order_date        object
region            object
total_price      float64
dtype: object

The data types after tranformation are:
 order_id                  int64
customer_name            object
product                  object
quantity                float64
unit_price              float64
order_date       datetime64[ns]
region                   object
total_price             float64
dtype: object

Explanation:

    Converting 'order_date' column from 'object' to a datetime format for easier date manipulation and calculations, and analysis.

In [19]:
# Filtering 'incremental_data.csv'

# Before transformation:
# Displaying all the columns in the data set
print(f"The columns in the dataset are: \n {incremental_data.columns} \n ")

# Transformation
# Dropping irrelevant columns
incremental_data.drop(columns=['customer_name'], inplace=True)

# After transformation
# Displaying all the columns in the data set
print(f"The columns in the dataset after transformation are: \n {incremental_data.columns} \n ")

The columns in the dataset are:
 Index(['order_id', 'customer_name', 'product', 'quantity', 'unit_price',
       'order_date', 'region', 'total_price'],
      dtype='object')

The columns in the dataset after transformation are:
 Index(['order_id', 'product', 'quantity', 'unit_price', 'order_date', 'region',
       'total_price'],
      dtype='object')

Explanation: 

    Dropping 'customer_name' column in the dataset as it won't help much in analysis. Futhermore,to reduce the size of the dataset.

In [21]:
# Saving transformed 'incremental_data.csv'
incremental_data.to_csv('2_transformed/transformed_incremental.csv', index=False)